<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/ocean_waves.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    </include>

    <group ns="usv1">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="5"/>
        <arg name="fcu_url" default="udp://:14545@localhost:14530"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/rover_mavros_posix_sitl.launch">
<!--        <include file="$(find px4)/launch/single_vehicle_spawn.launch">-->
            <arg name="x" value="15"/>
            <arg name="y" value="15"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="-1.732"/>
            <arg name="mavlink_udp_port" value="14565"/>
            <arg name="vehicle" value="rover_5"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/rover_$(arg ID)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(arg ID)"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <group ns="usv2">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="6"/>
        <arg name="fcu_url" default="udp://:14546@localhost:14531"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/rover_mavros_posix_sitl.launch">
            <!--        <include file="$(find px4)/launch/single_vehicle_spawn.launch">-->
            <arg name="x" value="15"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="-1.732"/>
            <arg name="mavlink_udp_port" value="14566"/>
            <arg name="vehicle" value="rover_6"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/rover_$(arg ID)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(arg ID)"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <group ns="usv3">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="7"/>
        <arg name="fcu_url" default="udp://:14547@localhost:14532"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/rover_mavros_posix_sitl.launch">
            <!--        <include file="$(find px4)/launch/single_vehicle_spawn.launch">-->
            <arg name="x" value="15"/>
            <arg name="y" value="-15"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="-1.732"/>
            <arg name="mavlink_udp_port" value="14567"/>
            <arg name="vehicle" value="rover_7"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/rover_$(arg ID)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(arg ID)"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

  <!--  <group ns="uuv1">
        &lt;!&ndash; MAVROS and vehicle configs &ndash;&gt;
        <arg name="ID" value="8"/>
        <arg name="fcu_url" default="udp://:14548@localhost:14533"/>
        &lt;!&ndash; PX4 SITL and vehicle spawn &ndash;&gt;
        <include file="$(find px4)/launch/rover_mavros_posix_sitl.launch">
            &lt;!&ndash;        <include file="$(find px4)/launch/single_vehicle_spawn.launch">&ndash;&gt;
            <arg name="x" value="-15"/>
            <arg name="y" value="-15"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="mavlink_udp_port" value="14568"/>
            <arg name="vehicle" value="rover_8"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/rover_$(arg ID)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        &lt;!&ndash; MAVROS &ndash;&gt;
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(arg ID)"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>-->
<!--    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller_demo.launch"/>-->
<!--    <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves_px4_umv.launch"/>-->

<!--    <include file="$(find offboard)/launch/multi_offboard.launch"/>-->
</launch>
